$mixin bodyText {
  font: {
    family:Helvetica,Arial,sans-serif;
    size: 16px;
  }
  color: black;
}


.mainContain {
  width:100%;
  display: flex;
}

.upperBackground {
  background-color: gradient;
}

#logo {
  display: flex;
  justify-content: flex-start;
  .logoPic {
    width:220px;
    height: 60px;
  }
}


#navBar {
  display: flex;
  flex-direction: row;
  #mainNavOpt {
    display: flex;
    flex-direction: row;
    justify-content: space-around flex-start;
  }
  #signIn {
    display: flex;
    justify-content: flex-end;
  }
}

#navBarMenus

#howRoll {
  display: flex;
  flex-direction: row;
  #howRollText {
    display: flex;
    flex-direction: column;
  }

  #howRollImgs {
    display: flex;
    flex-direction: column;
    just
    #bigImg{
      // size for big image goes here
    }
    #topImgRow{
      display:flex;
      flex-direction: row;
    }
    #botImgRow {
      display: flex;
      flex-direction: row;
    }
  }
}


.rowsBody {
  display: flex;
  flex-direction: row;
  .rowsText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    .column {
      display: flex;
      flex-direction: column;
    }
  }
}

#footerList {
  display:flex;
  flex-direction: row;
}
